{% extends 'partials/base.html' %}
{% block content%}
<div class="title">
    <h1>Fornecedor</h1>
</div>

<div class="content-body">
    
    <div class="title">
        <h3>
            Cadastro Fornecedor
        </h3>
    </div>

    <div class="bigInput">
        <label for="">Descrição</label>
        <input type="text">
    </div>
    <div class="bigInput">
        <label for="">Rua</label>
        <input type="text">
    </div>

    <div class="listSmallInput">
        <div class="smallInput">
            <label for="">Número</label>
            <input type="text">
        </div>
        <div class="smallInput">
            <label for="">Bairro</label>
            <input type="text">
        </div>

        <div class="smallInput">
            <label for="">Cidade</label>
            <input type="text">
        </div>
    </div>

    <div class="btns-screen">
        <div class="btn-crud">
            <input type="submit" value="CANCELAR" onclick="window.location.href='/fornecedores'">
        </div>
        <div class="btn-crud">
            <input type="submit" value="SALVAR">
        </div>
    </div>

</div>

{% endblock %}