{% extends 'partials/base.html' %}
{% block content%}
<div class="title">
    <h1>Materiais</h1>
</div>

<div class="content-body">

    <div class="bigInput">
        <label for="">Descrição</label>
        <input type="text">
    </div>
    <div class="bigInput">
        <label for="">Fornecedor</label>
        <input type="text">
    </div>

    <div class="listSmallInput">
        <div class="smallInput">
            <label for="">Unidade de Medida</label>
            <input type="text">
        </div>
        <div class="smallInput">
            <label for="">Medida</label>
            <input type="text">
        </div>
    </div>

    <div class="btns-screen">
        <div class="btn-crud">
            <input type="submit" value="CANCELAR">
        </div>
        <div class="btn-crud">
            <input type="submit" value="SALVAR">
        </div>
    </div>

</div>

{% endblock %}