
{% extends 'partials/base.html' %}
{% block content%}
{% load static %}
<div class="title">
    <h1>Fornecedores</h1>
</div>

<div class="content-body">

    <div class="headers">
        <div class="btn-novo">
            <input type="submit" value="Novo Fornecedor" onclick="window.location.href='/fornecedores/cadastro/'"/>
        </div>

        <div class="filters">
            <input type="text">
            <button type="submit">
                <img src="{% static 'img/icons/lupa.png'%}" alt="">
            </button>
        </div>
    </div>
    
    
    <div class="listagem materiais">
        <table>
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
          
            
                <td>
                    <div class="btn-editar">
                        <input type="submit" value="Editar"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
              
           
                <td>
                    <div class="btn-editar">
                        <input type="submit" value="Editar"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
               
          
                <td>
                    <div class="btn-editar">
                        <input type="submit" value="Editar"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
               
           
                <td>
                    <div class="btn-editar">
                        <input type="submit" value="Editar"/>
                    </div>
                </td>
            </tr>
              
              
          </table>
    </div>

</div>

{% endblock %}