{% extends 'partials/base.html' %}
{% block content%}
<div class="title">
    <h1>Bem vindo ao TOPSIS, {{ request.user }}!</h1>
</div>
<div class="cards">
    <div class="card inicio">
        <div class="title-card">
            <p>Materiais Cadastrados</p>
        </div>
        <div class="value-card">
            <p>120</p>
        </div>
    </div>
    
    <div class="card meio">
        <div class="title-card">
            <p>Clientes Cadastrados</p>
        </div>
        <div class="value-card">
            <p>1000</p>
        </div>
    </div>
    <div class="card fim">
        <div class="title-card">
            <p>Materiais Cadastrados</p>
        </div>
        <div class="value-card">
            <p>50</p>
        </div>
    </div>
</div>

<div class="servicosTitle title">
    <h2>Serviços em Andamento</h2>
</div>

<div class="listagem servicos">
    <table>
        <tr>
          <th>Cliente</th>
          <th>Tipo</th>
          <th>Data</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
        <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
          </tr>
      </table>
</div>

{% endblock %}