
{% extends 'partials/base.html' %}
{% block content%}
{% load static %}
<div class="title">
    <h1>Materiais</h1>
</div>

<div class="content-body">

    <form method="post">{% csrf_token %}
        <div class="headers">
            <div class="btn-novo">
                <input type="submit" value="Novo Material" onclick="window.location.href='/materiais/cadastro/'"/>
            </div>

            <div class="filters">
                <input type="text" name="pesquisa">
                <button type="submit">
                    <img src="{% static 'img/icons/lupa.png'%}" alt="">
                </button>
            </div>
        </div>
    </form>
    
    
    <div class="listagem materiais">
        <table>
            <tr>
                <th>Nome</th>
                <th>UM</th>
                <th>Medida</th>
                <th>Fornecedor</th>
                <th>Ações</th>
            </tr>
            
            {% if materiais %}
                {% for material in materiais %}
                    <tr>
                        <td>{{material.nome}}</td>
                        <td>{{material.unidadeMedida}}</td>
                        <td>{{material.medida}}</td>
                        <td>{{material.fk_fornecedor.nome}}</td>
                        <td>
                            <div class="btn-editar">
                                <input  type="submit" value="Editar" onclick="window.location.href='/materiais/cadastro/{{material.id}}'">
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
              
              
          </table>
    </div>

</div>

{% endblock %}