{% load static %}

<div class="menubar">
    <div class="menuMobile">
        <div class="logo">
            <img src="{% static 'img/top.png'%}" alt="">
        </div>
        <button class="hamburger" onclick="toggleMenu()">☰</button>
    </div>
    
    <div class="listMenu">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/">SERVIÇOS</a></li>
            <li><a href="/fornecedores">FORNECEDORES</a></li>
            <li><a href="/materiais">MATERIAIS</a></li>
            <li><a href="/clientes">CLIENTES</a></li>
            <li><a href="/logout">SAIR</a></li>
        </ul>
    </div>
</div>
