/* TITLE */
.title{
    color: #fff;
    padding-top: 2%;
}

.title h2{
    margin: 2% 0;
}


/* CARDS */

.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    flex-wrap: wrap;
}


.card{
    background-color:#333333 ;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    align-items: center;
    width: 400px;
   
    
}

.inicio{
    box-shadow: 1px 5px #1b66ac;
}
.meio{
    box-shadow: 1px 5px #d1ce14;
}
.fim{
    box-shadow: 1px 5px #b611a0;
}

.card .title-card{
    font-size: 1.5rem;
}

.card .value-card{
    font-size: 5rem;
}

/* TABLE */

.listagemServicos{
    width: 100%;
    height: 35%;
    overflow: auto;
}

.listagemServicos::-webkit-scrollbar{
    width: 2px;
}

.listagemServicos::-webkit-scrollbar-track{
    background: rgb(154, 154, 154);
}

.listagemServicos::-webkit-scrollbar-thumb {
    background-color: rgb(65, 65, 65); 
    border-radius: 20px;      
  }

.listagemServicos table{
    color: #fff;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}

.listagemServicos table td {
    border-top: 1px solid #9c9c9c;
    border-bottom: 1px solid #9c9c9c;
    text-align: left;
    padding: 10px 0;
}

.listagemServicos table th {
    border-top: 1px solid #9c9c9c;
    border-bottom: 1px solid #9c9c9c;
    text-align: left;
    padding: 10px 0;
    font-size: 25px;
}


@media (max-width: 768px) {

    .title{
        color: #fff;
        padding-top: 30%;
    }
    
    .title h2{
        padding-top: -30%;
        margin-bottom:10%;
    }
    

    .card{
        background-color:#333333 ;
        color: #fff;
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        align-items: center;
        width: 400px;
        margin: 10% 0;
        
    }

}