.content-body{
    background-color: #333333;
    padding: 1% 5%;
    margin: 2% 0;
    max-height: 85vh;
    overflow: auto;
}

.materiais{
    width: 100%;
    overflow: auto;
}

.headers{
    display: flex;
    padding: 5% 0;
}

.filters{
    display: flex;
}

.filters input{
    background-color: #212121;
    border: none;
    color: #fff;
    padding: 2%;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px;
}


.filters button{
    display: flex;
    background-color: #D70790;
    border: none;
    width: 60px;
    justify-content: center;
    align-items: center;
}

.btn-novo{
    width: 100%;
    display: flex;
    flex-direction: row;
   
   
}

.btn-novo input{
    background-color:#D70790 ;
    border: none;
    padding: 1% 2%;
    border-radius: 5px ;
    color: #fff;

}

.btn-editar input{
    background-color:#00B1FD ;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5%;
    
    height: 50px;
}



.bigInput{
    width: 100%;
    margin-top: 2%;
}

.bigInput label{
    color: #fff;
    font-size: 18px;
}


.bigInput input{
    width: 100%;
    background-color: #212121;
    border: none;
    padding: 1%;
    color: #fff;
    height: 40px;
}

.listSmallInput{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.smallInput{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.smallInput label{
    color: #fff;
}

.smallInput input{
    max-width: 200px;
    background-color: #212121;
    border: none;
    padding: 5%;
    color: #fff;
    height: 40px;
}


.btns-screen{
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
}

.btns-screen input{
    width: 150px;
    padding: 5%;
    border-radius: 5px;
    border: none;
    background-color: #D70790;
    color: #fff;
    
}