.content-body{
    background-color: #333333;
    padding: 1% 5%;
    margin: 2% 0;
    max-height: 85vh;
    overflow: auto;
}

.materiais{
    width: 100%;
    overflow: auto;
}

.headers{
    display: flex;
    padding: 5% 0;
}

.filters{
    display: flex;
}

.filters input{
    background-color: #212121;
    border: none;
    color: #fff;
    padding: 2%;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px;
}


.filters button{
    display: flex;
    background-color: #D70790;
    border: none;
    width: 60px;
    justify-content: center;
    align-items: center;
}

