.menubar{
    display: flex;
    flex-direction: column;
    background-color: #333333;
    align-items: center;
    height: 100vh;
    width: 300px;
    
}


.logo{
    margin-top: 20%;
    padding: 0 20%;
    /* box-shadow: 1px 20px 30px 1px rgba(0, 0, 0, 0.397); */
}

.logo img{
    width: 100%;
    
   
}

.listMenu{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    color: #fff;
 
}

.listMenu ul{
    list-style:none;
    padding: 0;
    text-align: center;
}

.listMenu li{
    padding: 0;
    margin: 50% 0;
}

.listMenu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin: 10px 0;
    align-self: flex-start; /* Alinha o botão de hambúrguer à esquerda */
    padding: 10px;
}


@media (max-width: 768px) {

    .menuMobile{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    

    .menubar {
        display: flex;
        flex-direction: column;
        background-color: #333333;
        align-items: center;
        height: 100vh;
        width: 300px;
        position: fixed; /* Adiciona o menu como fixo */
        top: 0;          /* Alinha o menu ao topo */
        left: 0;
        z-index: 1000;   /* Garante que o menu fique acima de outros elementos */
    }
    
    

    .listMenu ul{
        list-style:none;
        padding: 0;
        text-align: center;
    }
    
    .listMenu li{
        padding: 0;
        margin: 10% 0;
    }
    
    .listMenu ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
    }
    

    .menubar {
        height: auto; /* Ajusta a altura para não ser 100vh */
        width: 100%; /* O menu ocupa toda a largura da tela */
    }

    .hamburger {
        display: block;
        position: relative; /* Permite que ele fique no topo */
    }

    .listMenu {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 0; /* Remove o espaçamento superior */
    }

    .logo{
        display: none;
        /* box-shadow: 1px 20px 30px 1px rgba(0, 0, 0, 0.397); */
    }

}